{% extends 'base.html' %}
{% load date_filter %}
{% block content %}
<div class="contest-background">
    {% if messages %}
    <!-- message 표시 -->
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
    <div class="container-fluid">
        <div class="contest-main text-center">
            <p class="title">모델링 콘테스트</p>
            <p class="description">다른 참가자들과 다양한 주제로 창작하고 자신을 증명하세요!</p>
            <button type="button" class="btn btn-outline-light btn-lg">참가하기</button>
        </div>
        <div class="contest-previous">
            <div style="margin-bottom: 50px;">
                <p class="title">이전 콘테스트 우승 작품</p>
                <p class="description">이전 콘테스트에서 우승한 작품을 확인해보세요!</p>
            </div>
            {% if previous_contest %}
            <div class="swiper previous-swiper">
                <div class="swiper-wrapper">
                    {% for model in previous_contest %}
                    <div class="swiper-slide previous-slide">
                        <div class="previous-box" onclick="window.location.href='{% url 'modeling:detail' model.contest_info.modeling.id %}'">
                            <div class="title">제 {{ model.contest_info.round_info.round_num }}회<br>콘테스트 우승</div>
                            <div class="thumbnail"><img src="{{ model.contest_info.modeling.thumbnail.url }}"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <br><br><br><br><br><br>
            <p style="color: #FFF; font-size: 20px;">이전 콘테스트 우승 작품이 없습니다.</p>
            {% endif %}
        </div>
        <div class="contest-vote text-center">
            <div style="margin-bottom: 50px;">
                <p class="title">제 {{ current_round_info.round_num }}회 콘테스트</p>
                <p class="date">신청 기간 : {{ current_round_info.start_date|date:"Y년 m월 d일" }} ~ {{ current_round_info.vote_date|subtract_days:1|date:"Y년 m월 d일" }}</p>
                <p class="date">투표 기간 : {{ current_round_info.vote_date|date:"Y년 m월 d일" }} ~ {{ current_round_info.vote_date|add_days:6|date:"Y년 m월 d일" }} </p>
                {% if days_until_vote > 0 %}
                <button type="button" class="btn btn-outline-light btn-lg" data-bs-toggle="modal" data-bs-target="#contestModal">참가하기</button>
                {% endif %}
            </div>

            <!-- 동적으로 추가 -->
            <div class="row row-cols-2 justify-content-center" id="contest-vote-models">
                
            </div>
            <!-- 동적으로 추가 End -->

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contestModal" tabindex="-1" aria-labelledby="contestModalLabel" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contestModalLabel">콘테스트 참가하기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% if my_models %}
                <select class="form-select" id="registerContest">
                    <option value="-1" selected>참가할 모델을 선택해주세요.</option>
                    {% for my_model in my_models %}
                    <option value="{{ my_model.id }}">{{ my_model.title }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <div>등록된 모델이 없습니다.</div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="RegisterContest();">신청</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type='text/javascript'>
    var previous_swiper = new Swiper(".previous-swiper", {
        slidesPerView: "auto",
        spaceBetween: 30,
        grabCursor: true,
        centeredSlides: true,
        keyboard: { enabled: true, },
    });

    function RegisterContest() {
        var model = document.getElementById("registerContest");
		var value = (model.options[model.selectedIndex].value);

        if (value != "-1")
            window.location.href = "{% url 'contest:registerContest' modeling_id='0' %}".replace('0', value);
        else
            alert("참가할 모델을 선택해주세요.");
    }
</script>
<script>
    let offset = 0;

    function loadData() {
        $.ajax({
            url: `/contest/get-data/${offset}/`,
            success: function (data) {
                if (data.data.length > 0) {
                    data.data.forEach(item => {
                        appendModel(item);
                    });
                    offset += 3;  // 3개씩 로드
                }
            }
        });
    }

    function appendModel(modelData) {
        let renderedTemplate = `
        <div class="col current-models-box">
            <div class="row">
                <div class="col-auto">
                    <div class="thumbnail"><img src="${modelData.thumbnail}"></div>
                </div>
                <div class="col d-flex align-items-start flex-column">
                    <div class="title">${modelData.title}</div>
                    <div class="author">${modelData.author}</div>
                    <div class="mt-auto">
                        <p>
                            <a href="/modeling/${modelData.id}/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">자세히보기</a>&nbsp;&nbsp;
                            ${modelData.days_until_vote <= 0 ? `<a href="/contest/vote/${modelData.id}/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">추천 ${modelData.voter_count}</a>` : ''}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    `;

        // 렌더링된 HTML을 추가
        $('#contest-vote-models').append(renderedTemplate);
    }

    // 페이지 로드 시 초기 데이터 로드
    $(document).ready(function () {
        console.log("init");
        loadData();
    });

    // 스크롤 이벤트 감지
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            console.log("scroll");
            loadData();
        }
    });
</script>
{% endblock %}