{% extends "base.html" %}
{% block content %}
<div class="container-lg my-5 bg-content ">
    <div class="d-flex align-items-start">
        <div class="mypage-side-menu">
            <div class="mypage-side-title">
                마이페이지
            </div>
            <hr style="height: 2px; background: #7B7B7B; margin: 6px 0px;">
            <div class="nav flex-column nav-underline" id="v-pills-tab">
                <button class="nav-link active" type="button" onclick="location.href='{% url 'mypage:change_password' %}';">비밀번호 변경</button>
                <button class="nav-link" type="button" onclick="location.href='{% url 'mypage:delete' %}';">회원 탈퇴</button>
                <button class="nav-link" type="button" onclick="location.href='{% url 'mypage:post' %}';">작성 글</button>
            </div>
        </div>
        <div class="mypage-content flex-fill">
            <div class="mypage-content-title">
                비밀번호 변경
            </div>

            <hr style="height: 2px; background: #7B7B7B; margin: 6px 0px;">

            <div class="mypage-content-main">
                {% if messages %}
                <!-- message 표시 -->
                <script>
                    {% for message in messages %}
                        alert("{{ message }}");
                    {% endfor %}
                </script>
                {% endif %}
                <form method="post" action="{% url 'common:change_password' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="old_password" class="form-label normal-font">현재 비밀번호</label>
                        <input type="password" class="form-control" name="old_password" id="old_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label normal-font">새 비밀번호</label>
                        <input type="password" class="form-control" name="new_password1" id="new_password1" required>
                    </div>
                    <div class="mb-3">
                        <span class="helptext">
                            <ul>
                                <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                                <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                                <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                                <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
                            </ul>
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label normal-font">새 비밀번호 (확인)</label>
                        <input type="password" class="form-control" name="new_password2" id="new_password2" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">변경하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}