{% extends "mypage/mypage_base.html" %}
{% block mypage_content %}
<div class="mypage-content-title">
    작성 글
</div>

<hr style="height: 2px; background: #7B7B7B; margin: 6px 0px;">

<div class="mypage-content-main">
    {% if messages %}
    <!-- message 표시 -->
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
    <ul class="nav nav-underline" style="margin-bottom: 20px;">
        {% with request_path=request.path %}
        <li class="nav-item">
            <button class="nav-link {% if '/mypage/modeling/' in request_path %}active{% endif %}" onclick="location.href='{% url 'mypage:modeling' %}';" type="button">Modeling</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if '/mypage/community/' in request_path %}active{% endif %}" onclick="location.href='{% url 'mypage:community' %}';" type="button">Community</button>
        </li>
        {% endwith %}
    </ul>
    <div class="tab-content">
        {% block mypage_post_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}