{% extends "mypage/mypage_post.html" %}
{% block mypage_post_content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4" style="margin-bottom: 1rem;">
    {% if modeling_list %}
        {% for modeling in modeling_list %}
            <div class="col">
                <div class="card h-100" style=" cursor: pointer;" onclick="location.href='{% url 'modeling:detail' modeling.id %}'">
                    <img src="{{ modeling.thumbnail.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">{{ modeling.title }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<ul class="pagination justify-content-center">
    <!-- 이전 페이지 버튼 -->
    {% if modeling_list.has_previous %}
    <li class="page-item">
        <a class="page-link" data-page="{{ modeling_list.previous_page_number }}" href="javascript:void(0)">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지 리스트 -->
    {% for page_number in modeling_list.paginator.page_range %}
    {% if page_number >= modeling_list.number|add:-5 and page_number <= modeling_list.number|add:5 %}
    {% if page_number == modeling_list.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음 페이지 버튼 -->
    {% if modeling_list.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ modeling_list.next_page_number }}" href="javascript:void(0)">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<form id="searchForm" method="get" action="{% url 'mypage:modeling' %}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
</script>
{% endblock %}