body {
    background-color: #F0F0F0;
}

.bg-content {
    padding: 30px; 
    background: #FFF; 
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
}

.search_group {
    position: relative;
}

.search_box {
    border-radius: 50px;
    border: 4px solid #CDCDCD;  
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.search_button {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 7px;
    right: 22px;
    border: none;
    border-radius: 5px;
    background: #C2C2C2;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.search_button:hover {
    background: #696969;
}

.search_button:active {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
}

.search_button span {
    color: #FFF;
}

.btn-write {
    background: #8CB6F6;
    border-color: #8CB6F6;
}

.post-title {
    margin-left: 10px;
    font-size: 28px;
    font-weight: 700;
}

.post-author {
    margin-left: 10px;
    color: #7B7B7B;
    font-size: 14px;
}

.post-date {
    margin-left: 10px;
    color: #7B7B7B;
    font-size: 14px;
}

.post-content {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.comment-box {
    padding: 10px;
    border-radius: 16px;
    border: 3px solid #BCBCBC;
}

.comment-author {
    margin-bottom: 10px;
}

.comment-content {
    margin-bottom: 10px;
}

.comment-date {
    font-size: 12px;
    color: #7C7C7C;
}

.modeling-extension {
    color: #7B7B7B;
    font-size: 14px;
    margin: 0;
}

.modeling-title {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.modeling-author {
    color: #7B7B7B;
    font-size: 14px;
    margin: 0;
}

.modeling-date {
    color: #7B7B7B;
    font-size: 14px;
    margin: 0;
}

.modeling-modify-date {
    color: #7B7B7B;
    font-size: 14px;
    margin: 0;
}

.modeling-description {
    margin-top: 10px;
    font-size: 16px;
}

.detail-thumbnail {
    position: relative;
    display: inline-block;
}

.detail-thumbnail img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overlay-button {
    position: absolute;
    top: 50%; /* 이미지 중앙에 위치 */
    left: 50%; /* 이미지 중앙에 위치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.7); /* 배경 색상 */
    color: white; /* 글자색 */
    padding: 10px 20px; /* 패딩 설정 */
    border: none;
    cursor: pointer;
    display: none; /* 기본적으로 숨김 */
}

.detail-thumbnail:hover .overlay-button {
    display: block;
}

.card-img-top {
    height: 115px;
    object-fit: cover;
}

.card-body {
    padding: 10px;
}

.card-title {
    margin: 0;
}

/* ======================================================== Contest ======================================================== */

.contest-background {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url('/static/image/background.png');
    background-attachment: fixed;
    background-size: cover;
}

.contest-main {
    padding-top: 50px;
}

.contest-main > .title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contest-main > .description {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contest-previous {
    margin-top: 50px;
    padding-top: 50px;
}

.contest-previous .title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contest-previous .description {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.previous-swiper {
    width: 95%;
    height: 420px;
}

.previous-slide {
    width: 300px !important;
    height: 354px !important;
}

.previous-box {
    width: 100%;
    height: 100%;
    border-radius: 23px;
    background: rgba(30, 30, 30, 0.81); 
    padding: 20px 40px 40px 40px;
    cursor : pointer;
}

.previous-box .title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.previous-box .thumbnail {
    width: 220px;
    height: 220px;  
}

.previous-box .thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 23px;
}

.contest-vote {
    margin-top: 50px;
}

.contest-vote > div > .title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contest-vote > div > .date {
    color: #cdcdcd;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.current-models-box {
    width: 700px;
    height: 288px;
    border-radius: 23px;
    background: rgba(30, 30, 30, 0.81); 
    margin: 20px;
    padding: 40px;
}

.current-models-box .thumbnail {
    width: 210px;
    height: 210px;  
}

.current-models-box .thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 23px;
}

.current-models-box .title {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.current-models-box .author {
    color: #9B9B9B;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#contestModal .modal-content {
    color: white;
}

/* ======================================================== Mypage ======================================================== */
.mypage-side-menu .mypage-side-title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 8px;
}

.mypage-side-menu .nav-underline {
    gap: 2px !important;
}

.mypage-side-menu .nav-link {
    color: #333333 !important;
}

.mypage-content {
    margin-left: 30px;
}

.mypage-content .mypage-content-title {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 8px;
}

.mypage-content-main {
    padding: 8px;
}

.mypage-content-main .normal-font {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}